{% extends 'base.html' %}

<br />
<br />
{% block content %}
<style>
    .widthx {
        width: 200px;
    }
</style>
<br />
<br />
<div class="container">
    <table class="table table-striped widthx">
        <tbody>
            <tr>
                {% for tok, score, color in toks %}
                <button type="submit" class="btn btn-lg btn-primary" title={{score}} style="border-color: {{color}}; background-color: {{color}}">{{ tok }}</button>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <a>Sentiment analysis output:</a>
    <br />
    <br />
        <button type="submit" class="btn btn-outline-primary btn-lg">Sentence was given a final rating of {{ final_rating }}</button>
    <div>
        {% endblock %}
    </div>
</div>
