{% extends 'base.html' %}

<br />
<br />
{% block content %}
<style>
    .widthx {
        width: 200px;
    }
</style>
<br />
<br />
<div class="container">
    <table class="table table-striped widthx">
        <tbody>
            <tr>
                {% for item1, item2 in mylist %} {% if item2 < 0.4 %}
                <button type="submit" class="btn btn-info btn-lg">{{ item1 }}</button>
                {% elif item2 < 0.7 %}
                <button type="submit" class="btn btn-warning btn-lg">{{ item1 }}</button>
                {% elif item2 >= 0.7 %}
                <button type="submit" class="btn btn-danger btn-lg">{{ item1 }}</button>
                {% endif %} {% endfor %}
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <a>Sentiment analysis output:</a>
    <br />
    <br />
        <button type="submit" class="btn btn-outline-primary btn-lg">Sentences were rated as 42.3% Negative<br/>Sentences were rated as 38.1% Neutral<br/>Sentences were rated as 19.6% Positive<br/>Sentences overall rated as Negative</button>
    <div>
        {% endblock %}
    </div>
</div>
