{% extends 'base.html' %}

<br />
<br />
{% block content %}
<style>
    .widthx {
        width: 200px;
    }
</style>
<br />
<br />
<div class="container">
    <table class="table table-striped widthx">
        <tbody>
            <tr>
                {% for tok, score in toks %} {% if score < -0.33 %}
                <button type="submit" class="btn btn-info btn-lg">{{ tok }}</button>
                {% elif score < 0.33 %}
                <button type="submit" class="btn btn-warning btn-lg">{{ tok }}</button>
                {% elif score >= 0.33 %}
                <button type="submit" class="btn btn-danger btn-lg">{{ tok }}</button>
                {% endif %} {% endfor %}
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <a>Sentiment analysis output:</a>
    <br />
    <br />
        <button type="submit" class="btn btn-outline-primary btn-lg">Sentences was given a final rating of {{ final_rating }}</button>
    <div>
        {% endblock %}
    </div>
</div>
